<div role="tabpanel" class="container">
  <div class="row">
    <div class="list-group col-lg-4" id="myList" role="tablist">
      <div class="row">
        <a
          class="col col-lg-12 list-group-item list-group-item-action d-flex justify-content-between active"
          data-bs-toggle="list"
          href="#home"
          role="tab"
        >
          Home
          <span class="badge bg-primary rounded-pill">14</span>
        </a>
        <a
          class="col col-lg-12 list-group-item list-group-item-action d-flex justify-content-between"
          data-bs-toggle="list"
          href="#profile"
          role="tab"
        >
          Profile
          <span class="badge bg-primary rounded-pill">14</span>
        </a>
        <a
          class="col col-lg-12 list-group-item list-group-item-action d-flex justify-content-between"
          data-bs-toggle="list"
          href="#messages"
          role="tab"
        >
          Messages
          <span class="badge bg-primary rounded-pill">14</span>
        </a>
        <a
          class="col col-lg-12 list-group-item list-group-item-action d-flex justify-content-between"
          data-bs-toggle="list"
          href="#settings"
          role="tab"
        >
          Settings
          <span class="badge bg-primary rounded-pill">14</span>
        </a>
      </div>
    </div>
    <div class="tab-content col-lg-8">
      <div class="tab-pane active" id="home" role="tabpanel">Home</div>
      <div class="tab-pane" id="profile" role="tabpanel">Profile</div>
      <div class="tab-pane" id="messages" role="tabpanel">Message</div>
      <div class="tab-pane" id="settings" role="tabpanel">Settings</div>
    </div>
  </div>
</div>
